webapp/.settings/org.eclipse.m2e.core.prefs
webapp/.settings/org.eclipse.jdt.core.prefs
webapp/.settings/
services/.settings/
dao-impl-db/.settings/
dao-impl-xml/.settings/
dao-impl-db/.classpath
dao-api/.settings/
*.classpath
*.project
datamodel/.settings/org.eclipse.core.resources.prefs
datamodel/.settings/
.settings/
/.idea/
/parent-project.iml
/webapp/webapp.iml
/services/services.iml
/datamodel/datamodel.iml
/dao-impl-xml/dao-impl-xml.iml
/dao-impl-db/dao-impl-db.iml
/dao-api/dao-api.iml
/libraly-web.iml
