<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		<CustomAppender name="myapp" >
			<PatternLayout pattern="serial no: %sn |  Date: %d |  level:%level | class name:%logger | method name:%M() |  line number:%L |  Location: %l | message:%m%n" />
		</CustomAppender>

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

		<Logger level="info" name="com.charniauski.training.horsesrace"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="myapp" level="DEBUG"/>
		</Logger>
<!--
		<Loggers>
			<Root level="trace">
				<AppenderRef ref="file" level="DEBUG"/>
				<AppenderRef ref="STDOUT" level="INFO"/>
			</Root>
		</Loggers>-->

		<!--<Configuration packages="com.yourcompany.yourcustomappenderpackage">-->
			<!--<Appenders>-->
				<!--<MyCustomAppender name="ABC" otherAttribute="...">-->
				<!--...-->
			<!--</Appenders>-->
			<!--<Loggers><Root><AppenderRef ref="ABC" /></Root></Loggers>-->
		<!--</Configuration>-->

	</Loggers>


</Configuration>