<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <CustomAppender name="myapp">
            <PatternLayout pattern="%-5level, %m"/>
        </CustomAppender>

        <SMTP name="EMail" subject="Error Log"
              smtpProtocol="smtps"
              smtpPort="465"
              smtpHost="smtp.gmail.com"
              from=""
              to=""
              smtpUsername=""
              smtpPassword=""
              bufferSize="50">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </SMTP>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger level="debug" name="com.charniauski.training.horsesrace"
                additivity="false">
                <AppenderRef ref="Console" level="info"/>
                <AppenderRef ref="RollingFile" level="info"/>
                <AppenderRef ref="myapp" />
        </Logger>
        <!--
                <Loggers>
                    <Root level="trace">
                        <AppenderRef ref="file" level="DEBUG"/>
                        <AppenderRef ref="STDOUT" level="INFO"/>
                    </Root>
                </Loggers>-->

        <!--<Configuration packages="com.yourcompany.yourcustomappenderpackage">-->
        <!--<Appenders>-->
        <!--<MyCustomAppender name="ABC" otherAttribute="...">-->
        <!--...-->
        <!--</Appenders>-->
        <!--<Loggers><Root><AppenderRef ref="ABC" /></Root></Loggers>-->
        <!--</Configuration>-->

    </Loggers>


</Configuration>