<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable" status="info" packages="com.charniauski.training.horsesrace.services.appender">
    <!--<Configuration status="error">-->
    <Properties>
        <property name="smtpProtocol">${bundle:appenderMail:smtpProtocol}</property>
        <property name="smtpPort">${bundle:appenderMail:smtpPort}</property>
        <property name="smtpHost">${bundle:appenderMail:smtpHost}</property>
        <property name="from">${bundle:appenderMail:from}</property>
        <property name="to">${bundle:appenderMail:to}</property>
        <property name="smtpUsername">${bundle:appenderMail:smtpUsername}</property>
        <property name="smtpPassword">${bundle:appenderMail:smtpPassword}</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <CustomAppender name="myapp">
            <PatternLayout pattern="%-5level, %m"/>
        </CustomAppender>

        <SMTP name="EMail" subject="Log project" smtpProtocol="${smtpProtocol}" smtpPort="${smtpPort}"
              smtpHost="${smtpHost}" from="${from}" to="${to}"
              smtpUsername="${smtpUsername}" smtpPassword="${smtpPassword}" bufferSize="50">
            <PatternLayout pattern="%-5level, %m"/>
        </SMTP>

        <!--<JDBC name="databaseAppender" tableName="logging">-->
        <!--<ConnectionFactory class="com.charniauski.training.horsesrace.services.appender.ConnectionFactory" method="getDatabaseConnection" />-->
        <!--<Column name="event_date" isEventTimestamp="true" />-->
        <!--<Column name="level" pattern="%level"  isUnicode="false"/>-->
        <!--<Column name="logger" pattern="%logger" isUnicode="false"/>-->
        <!--<Column name="msg" pattern="%message" isUnicode="false"/>-->
        <!--<Column name="throwable" pattern="%ex{full}" isUnicode="false"/>-->
        <!--</JDBC>-->

        <!--<JDBCAppender name="dbAppender"-->
                      <!--tableName="logging">-->
            <!--<ConnectionFactory class="com.charniauski.training.horsesrace.services.appender.ConnectionFactory"-->
                               <!--method="getDatabaseConnection"/>-->
            <!--<Column name="event_date" isEventTimestamp="true"/>-->
            <!--<Column name="level" pattern="%level" isUnicode="false"/>-->
            <!--<Column name="logger" pattern="%logger" isUnicode="false"/>-->
            <!--<Column name="msg" pattern="%message" isUnicode="false"/>-->
            <!--<Column name="throwable" pattern="%ex{full}" isUnicode="false"/>-->
        <!--</JDBCAppender>-->



    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>

        </Root>

        <Logger level="info" name="com.charniauski.training.horsesrace"
                additivity="false">
            <AppenderRef ref="Console" level="error"/>
            <AppenderRef ref="RollingFile" level="error"/>
            <AppenderRef ref="myapp" level="info"/>
            <!--<AppenderRef ref="EMail" level="error"/>-->
            <!--<AppenderRef ref="dbAppender" level="error"/>-->
            <!--<AppenderRef ref="databaseAppender" level="error"/>-->

        </Logger>
    </Loggers>


</Configuration>